.selfservice{
    width: 250px;
    height: 324px;
    background: #fff;
    position: absolute;
    top: -341px;
    right: 0px;
    z-index: 3;
    >ul{
        width: 100%;
        padding-top: 11px;
        >li{
            margin-left: -9px;
            >p{
                width: 268px;
                height: 38px;
                background: #22C6A1;
                color: #fff;
                line-height: 38px;
                font-size: 18px;
                text-align: center;
                font-family: 微软雅黑;
                margin-bottom: 26px;
                &.firsth1{
                    background: #1F75BE;
                }
            }
            .selfBusiness{
                button{
                    width: 80px;
                    height: 26px;
                    background: #3CBAFF;
                    border-radius: 5px;
                    font-family: 微软雅黑;
                    margin-left: 29px;
                    margin-bottom: 16px;
                    a{
                        color: #fff;
                    }
                    &.dl{
                        background: #FFAD4B;
                    }
                    &.hezuojigou{
                        width: 185px;
                    }
                    
                }
                p{
                    text-align: center;
                    a{
                        font-size: 12px;
                        color: #919191;
                    }
                }
            }
            .teamBusiness{
                >p{
                    width: 202px;
                    height: 26px;
                    border: 1px solid #6a6a6a;
                    text-align: center;
                    margin: 0 auto;
                    font-size: 14px;
                    &.wubd{
                        border:none; 
                        font-size: 12px;
                        a{
                            color: #6a6a6a;
                        }
                    }
                    a{
                        color: #000;
                        font-family: 微软雅黑;
                    }
                }
            }
        }
    }
    .threeDenglu{
        position: absolute;
        bottom: 0;
        left: 0;
        >div{
            float: left;
            width: 42px;
            height: 79px;
            margin-left: 26px;
            a>p{
                font-size: 12px;
                color: #919191;
                padding-left: 9px;
                padding-top: 6px;
            }
        }
    }
}